body{
  background-color:#955AA6;
  margin:0;
}

h1{
  color:#8A552F;
  font-family: Papyrus, fantasy;
  font-size:40px;
  background-color:rosybrown;
  text-align:center;
  padding:15px 0;
  margin:20px;
}

p{
  font-family: Helvetica, Arial, sans-serif;
  font-size:18px;
  color:#8A5850;
  text-align:center;
  padding:15px;
}

img{
  display:block;
  margin:20px auto;
  border:15px ridge #704282;
}


.nav{
  list-style:none;
  background:white;
  text-align:center;
  padding:10px 0;
  margin:0;
}

.nav li{
  display:inline-block;
  width:150px;
  height:45px;
  border:2px solid black;
  margin:5px;
}

.nav a{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
  text-decoration:none;
  color:#465791;
  font-family: Helvetica, Arial, sans-serif;
  font-size:12px;
  transition: transform 0.2s ease, font-size 0.2s ease;
}

.nav a:hover{
  transform: scale(1.2);
  font-size:20px;
  font-weight:bold;
  color:black;
}


.media-center{
  display:flex;
  justify-content:center;
  margin:40px 0;
}

.video-wrap{
  position:relative;
  width:90%;
  max-width:1100px;
  padding-top:56.25%;
}

.video-wrap iframe{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:none;
}
