body{background-color:#955AA6;} 

h1{color:#8A552F; 
	font-family: Papyrus,fantasy; 
	font-size: 40px;
	background-color: rosybrown;
	text-align:center;
	padding-top:15px;
	margin:20px; }

p{font-family: Helvetica,Arial, sans-serif;
	font-size: 18px;
    color: #8A5850;
    text-align: center;
    padding-top: 15px; }

img{border-style: ridge;
border-width: 15px;
display: block;
margin: auto;
border-color: #704282; }

a{text-decoration:none;
color: #465791;
font-family: Helvetica,Arial, sans-serif;
font-size: 10px; }



a:hover {color:black;
font-size:20px;
font-weight: bold;}

ul{list-style: none;
background-color: white;
text-align: center;
display:block;
padding: 0;
margin: 0; }




li{display:inline-block;
	padding:10px 20px;
	margin:0;
	border-style: solid;
	border-width:2px;}

iframe{display:block;
		margin-left: auto;
		margin-right: auto;
		border-style: ridge;
		border-width: 15px;
		border-color: #AD49A6;}

.video-wrap{
  position: relative;
  width: 100%;
  max-width: 1000px;   /* 控制最大宽度，可改 900 / 1100 */
  margin: 40px auto;   /* 上下留空间，居中 */
  padding-top: 56.25%; /* 16:9 比例 */
}

.video-wrap iframe{
